# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Build/package files
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite

# Testing
.coverage
htmlcov/
.pytest_cache/

# Environment files
.env